table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  
    thead {
      background-color: #008CBA;
      color: #ffffff;
  
      tr {
        height: 60px;
      }
  
      th {
        font-size: 18px;
        font-weight: bold;
      }
    }
  
    tbody {
      tr {
        height: 50px;
        border-bottom: 1px solid #dddddd;
  
        &:nth-child(even) {
          background-color: #f3f3f3;
        }
  
        &:last-child {
          border-bottom: 2px solid #008CBA;
        }
      }
  
      td {
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
      }
    }
  }